<body class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
        <h3 class="card-title text-center mb-4">Andina Trading - Menú de Módulos</h3>
        <!-- Módulo Gestión del Sistema -->
        <form action="/firstmodule/{{user.id}}" method="post" class="mb-3">
            <button type="submit" class="btn btn-primary w-100">1. Gestión del Sistema</button>
        </form>
        
        <!-- Módulo de Conexión con la Bolsa de Valores -->
        <form action="/api/secondmodule/module/{{user.id}}" method="post" class="mb-3">
            <button type="submit" class="btn btn-secondary w-100">2. Conexión con la Bolsa de Valores</button>
        </form>

        <!-- Módulo de Consolidación de Información -->
        <form action="/api/sixthmodule/crud/{{user.id}}" method="get" class="mb-3">
            <button type="submit" class="btn btn-danger w-100">6. Consolidación de Información</button>
        </form>
        
        <!-- Módulo de Reportes -->
        <form action="/reports/{{user.id}}" method="post" class="mb-3">
            <button type="submit" class="btn btn-dark w-100">7. Reportes</button>
        </form>

            <a href="/" class="btn btn-secondary w-100">Back</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>