<body class="d-flex justify-content-center align-items-center vh-100 bg-light">
    <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
        <div class="container mt-5">
            <h1 class="text-center">Generación de Reportes</h1>
            <h2 class="text-center">Módulo de Reportes PDF</h2>

            <div class="row mt-4">
                <div class="col-md-6">
                    <h4>Seleccione el Tipo de Reporte</h4>
                    <form id="reportForm" action="/api/reports/generate-report/{{user.id}}" method="POST">
                        <div class="mb-3">
                            <label for="reportType" class="form-label">Tipo de Reporte</label>
                            <select class="form-select" id="reportType" name="reportType" required>
                                <option selected disabled>Seleccione un tipo de reporte</option>
                                <option value="Reporte de Inversionistas">Reporte de Inversionistas</option>
                                <option value="Reporte de Comisionistas">Reporte de Comisionistas</option>
                                <option value="Valor de la Acción">Valor de la Acción</option>
                            </select>
                        </div>

                        <div class="mb-3" id="riskProfileFilter" style="display: none;">
                            <label for="riskProfile" class="form-label">Perfil de Riesgo (solo para
                                Inversionistas)</label>
                            <select class="form-select" id="riskProfile" name="riskProfile">
                                <option selected disabled>Seleccione el perfil de riesgo</option>
                                <option value="Low">Bajo</option>
                                <option value="Medium">Medio</option>
                                <option value="High">Alto</option>
                            </select>
                        </div>
                        <div class="mb-3" id="countryFilter" style="display: none;">
                            <label for="country" class="form-label">País (solo para Comisionistas)</label>
                            <select class="form-select" id="country" name="country" required>
                                <option selected disabled>Seleccione un país</option>
                                {{#each countries}}
                                <option value="{{this.id}}">{{this.countryName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Generar Reporte</button>
                    </form>
                </div>
            </div>

            <form action="/backtomenu/{{user.id}}" method="POST">
                <button type="submit" class="btn btn-primary m-2">Volver</button>
            </form>
            <script>
                document.getElementById('reportType').addEventListener('change', function () {
                    const riskProfileFilter = document.getElementById('riskProfileFilter');
                    const countryFilter = document.getElementById('countryFilter');

                    // Mostrar los filtros según el tipo de reporte
                    if (this.value === 'Reporte de Inversionistas') {
                        riskProfileFilter.style.display = 'block';
                        countryFilter.style.display = 'none';
                    } else if (this.value === 'Reporte de Comisionistas') {
                        countryFilter.style.display = 'block';
                        riskProfileFilter.style.display = 'none';
                    } else {
                        riskProfileFilter.style.display = 'none';
                        countryFilter.style.display = 'none';
                    }
                });
            </script>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>